@media (max-width: 600px){
	nav ul>li {
		margin:0.6%;
		width:48.5%;
		height:120px;
	}
}
@media (min-width: 600px) and (orientation: landscape) {
	nav ul>li {
		margin:1%;
		width:30.5%;
		height:120px;
	}
}
* {
  /* So 100% means 100% */
  box-sizing: border-box;
}
body {
	font-family:Arial;
	margin:0px;
	color:#454546;
}
header {
	background:#FFF;
	position:fixed;
	width:100%;
	z-index:3;
	border-bottom:2px solid #C3D84B;
}
#container {
	margin:auto;
	width:100%;
	position:absolute;
	top:60px;
	z-index:1;
}
#pagina {
	min-height:100%;
	width:100%;
	position:absolute;
	z-index:2;
	color:#454546;
	display:none;
	top:60px;
	padding:10px;
}
#pagina-container {
	width:90%;
	margin:auto;
}
nav ul, nav ul>li {
	display:inline;
}
nav ul>li {
	color:#61C9D4;
	cursor:pointer;
	vertical-align:middle;
	padding:10px;
	float:left;
	/*background:rgba(255,255,255,0.6);
	border:1px solid rgba(0,0,0,0.4);
	box-shadow:1px 1px 7px rgba(0,0,0,0.3);*/
	text-align:center;
}
nav ul>li>a {
	color:white;
	font-weight:bold;
	text-transform: uppercase;
	text-decoration:none;
}
.clear {
	clear:both;
}
.big {
	font-size:70px;
}
.back-to-menu {
	width:35px;
	float:left;
	color:#333;
	font-size:36px;
	padding:15px;
	cursor:pointer
}
.back-to-menu i {
	display:none;
}
.curso {
	margin-left:10px;
	text-decoration:none!important;
	text-shadow:none!important;
	padding:3px;
	border:1px solid #CECECE;
	color:#C2D74A!important;
	font-size:30px;
}