@media (max-width: 600px){
	nav ul>li {
		margin:0.6%;
		width:48.5%;
		height:200px;
	}
}
@media (min-width: 600px) and (orientation: landscape) {
	nav ul>li {
		margin:1%;
		width:30.5%;
		height:200px;
	}
}
* {
  /* So 100% means 100% */
  box-sizing: border-box;
}
body {
	font-family:Arial;
	background:#88A9CB;
	margin:0px;
}
header {
	background:#FFF;
	position:fixed;
	width:100%;
	z-index:3;
}
#container {
	margin:auto;
	width:100%;
	position:absolute;
	top:60px;
	z-index:1;
}
#pagina {
	background:rgba(0,0,0,0.5);
	height:100%;
	width:100%;
	position:absolute;
	z-index:2;
	color:white;
	display:none;
	top:60px;
	padding:10px;
}
nav ul, nav ul>li {
	display:inline;
}
nav ul>li {
	float:left;
	/*background:rgba(255,255,255,0.6);
	border:1px solid rgba(0,0,0,0.4);
	box-shadow:1px 1px 7px rgba(0,0,0,0.3);*/
	text-align:center;
}
nav ul>li>a {
	color:white;
	font-weight:bold;
	text-transform: uppercase;
	text-decoration:none;
}
.clear {
	clear:both;
}
.big {
	font-size:70px;
}
.back-to-menu {
	float:left;
	display:none;
}